node_modules
.git
.gitignore
README.md
.env
.nyc_output
coverage
.DS_Store
*.log
dist
.next
.vscode
backend/site-ndti/media/*
backend/site-ndti/Payload.db*
backend/site-ndti/.env*
*.md
*.txt
.dockerignore
Dockerfile
docker-compose.yml